.button {
	display: inline-block;
	padding: 26px 60px;
	font-weight: 500;
	border: 0;
	font-size: 18px;
	font-family: inherit;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	background-color: #000000;
	border-radius: 75px;
	transition: background-color var(--transition-duration) var(--transition-function);
	appearance: none;

	&:not(:disabled) {
		&:hover {
			background-color: #353535;
		}

		&:active {
			background-color: #535353;
		}
	}

	&:disabled {
		background-color: #909090;
	}

	&--green {
		background-color: #84ab31;

		&:not(:disabled) {
			&:hover {
				background-color: #66793d;
			}

			&:active {
				background-color: #59653e;
			}
		}

		&:disabled {
			background-color: #4a4e42;
		}
	}
}
