.page__header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: #ffffff;
}

.header__container {
	padding-top: 17px;
	padding-bottom: 17px;

	@media (min-width: $min-lg) {
		display: flex;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.header__logo {
	display: block;
	width: fit-content;

	@media (max-width: $max-lg) {
		margin-right: auto;
		margin-left: auto;
	}
}
