.hero .hero__container {
	padding-top: 4px;
}

.hero__swiper {
	max-width: 303px;

	@media (min-width: 768px) {
		max-width: 620px;
	}

	@media (min-width: 990px) {
		max-width: 990px;
	}

	@media (min-width: 1390px) {
		max-width: 100%;
	}
}

.hero__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.hero__item {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 17px 8px 346px;
	background-position: center;
	background-size: cover;

	@media (max-width: $max-lg) {
		text-align: center;
	}

	@media (min-width: $min-lg) {
		padding: 90px 50% 118px 58px;
	}

	&--macha_suri {
		background-image: url(../../img/hero-slider__bg-matcha_suri@mob.jpg);

		@media (min-width: $min-lg) {
			background-image: url(../../img/hero-slider__bg-matcha_suri.jpg);
		}
	}

	&--congelum {
		background-image: url(../../img/hero-slider__bg-congelum@mob.jpg);

		@media (min-width: $min-lg) {
			background-image: url(../../img/hero-slider__bg-congelum.jpg);
		}
	}

	&--rico_boost {
		background-image: url(../../img/hero-slider__bg-rico_boost@mob.jpg);

		@media (min-width: $min-lg) {
			background-image: url(../../img/hero-slider__bg-rico_boost.jpg);
		}
	}

	&--berzeo {
		background-image: url(../../img/hero-slider__bg-berzeo@mob.jpg);

		@media (min-width: $min-lg) {
			background-image: url(../../img/hero-slider__bg-berzeo.jpg);
		}
	}
}

.hero__list-title {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 24px;
	line-height: 30px;

	@media (min-width: $min-lg) {
		margin-bottom: 12px;
		font-size: 64px;
		line-height: 69px;
	}

	& span {
		color: #84ab31;
	}
}

.hero__list-notes {
	margin: 0;
	line-height: 20px;

	@media (min-width: $min-lg) {
		margin-bottom: 43px;
		font-size: 18px;
		line-height: 24px;
	}
}

.hero__list-button {

	@media (max-width: $max-lg) {
		position: absolute;
		bottom: 29px;
		left: 50%;
		box-sizing: border-box;
		width: 90%;
		transform: translateX(-50%);
	}
}
