.standarts-prod {
	margin-bottom: -280px;
	padding-bottom: 280px;
	overflow: hidden;
	background-color: #f2f9f7;

	@media (min-width: $min-lg) {
		margin-bottom: -290px;
		padding-bottom: 290px;
	}
}


.standarts-prod__subtitle {
	font-size: 16px;
	line-height: 24px;
	color: #84ab31;
	text-transform: uppercase;
}

.standarts-prod__list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	@media (min-width: $min-lg) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 42px;
	}
}

.standarts-prod__item {
	box-sizing: border-box;
	padding-top: 15px;

	@media (min-width: $min-lg) {
		height: auto;
		padding: 8px 0 27px 0;

		&:not(:last-child):not(:nth-child(4n)) {
			border-right: 1px solid #ffffff;
		}
	}

	&::before {
		content: '';
		display: block;
		width: 94px;
		height: 79px;
		margin-bottom: 8px;
		background-repeat: no-repeat;
		background-position: left center;
	}

	&--clinically::before {
		background-image: url(../../img/standarts-list__clinically.svg);
	}

	&--only::before {
		background-image: url(../../img/standarts-list__only.svg);
	}

	&--quality::before {
		background-image: url(../../img/standarts-list__quality.svg);
	}

	&--gmo::before {
		background-image: url(../../img/standarts-list__gmo.svg);
	}
}

.standarts-prod__list-title {
	margin-top: 0;
	margin-bottom: 14px;
	font-size: 24px;

	&::after {
		content: '';
		display: block;
		width: 63px;
		height: 1px;
		margin-top: 4px;
		background-color: #84ab31;
	}
}

.standarts-prod__list-notes {
	margin-top: 0;
	margin-bottom: 0;
}
