.star {
	position: relative;
	display: block;
	width: 110px;
	height: 18px;

	&::before {
		content: '';
		position: absolute;
		background-color: #ffb210;
		mask-image: url(../../img/star-stroke.svg);
		inset: 0;
		mask-repeat: space no-repeat;
		mask-size: contain;
	}

	&::after {
		content: '';
		position: absolute;
		background-image: linear-gradient(to right, #ffb210 100%, transparent 0%);
		inset: 0;
		mask-image: url(../../img/star-fill.svg);
		mask-repeat: space no-repeat;
		mask-size: contain;
	}

	&--4_9::after {
		background-image: linear-gradient(to right, #ffb210 92%, transparent 8%);
	}
}
